.sliderWrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	user-select: none;
	position: relative;
}

.sliderContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: var(--transition-normal);
}

.img {
	width: 100%;
	height: 100%;
	transition: var(--transition-normal);
	object-fit: contain;
}

.control {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 10px;
	gap: var(--space-lg);
}

.count {
	--rotate: 0deg;
	position: relative;
	font-family: var(--font-title);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	font-size: 1.5em;
}
.count::before {
	content: '';
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0px 5px 10px rgba(var(--rgb-color-secondary), 0.3),
		inset 0px -5px 10px rgba(var(--rgb-color-secondary), 0.7);
	border-radius: 50%;
	transform: rotate(var(--rotate));
	transition: 1s;
}
.btn {
	color: inherit;
	background: rgba(var(--rgb-color-secondary), 0.5);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 2em;
	transition: var(--transition-normal);
	&:disabled {
		opacity: 0;
		pointer-events: none;
	}
}

@media (hover: hover) and (pointer: fine) {
	.btnControlLeft:hover {
		padding-right: 20px;
	}

	.btnControlRight:hover {
		padding-left: 20px;
	}
}

/* Mobile -- 700px*/
@media (max-width: 700px) {
	.count {
		width: 60px;
		height: 60px;
		padding: 5px;
		font-size: 0.9em;
	}

	.btn {
		width: 40px;
		height: 40px;
		font-size: 1.2em;
	}
}
